@import '../index.scss';

.card {
    @include grid-end;
    background-image: $background-img;
    border-radius: 10px;    
    position: relative;

    &__image{
        width: 100%;

        min-height: 335px;
        object-fit: cover;
        border-radius: 10px;
        filter: $dark;
    }

    &__title{
        color: $color-primary ;
        @include font-small;
        margin: 20px;
        position: absolute;

        @include media-max("tablet-up"){
            @include font-small;
        }

    }
}
