@import '../index.scss';


.collapse {    
    background-color: $color-collapse;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    @include media-max("desktop-up"){
        
    }

    &_title {
        @include flex-between;
        @include font-medium;
        color: $color-primary;
        background-color: $color-secondary;        
        border-radius: 10px;        
        padding: 10px 15px;
        cursor: pointer;
        @include media-max("desktop-up"){
            @include font-small;        
        }

        @include media-max("tablet-up"){
            @include font-min;        
        }

        .arrow {
        transition: all 0.2s ease-in-out; 
            @include media-max("desktop-up"){
                height: 24px;            
            }       
        }

        .arrow_up {
            transform: rotate(180deg);
        }

        .arrow_down {
        transform: rotate(0deg);
        }
        
    }

    &_content {
        padding: 10px;
        letter-spacing: 1px;
        color: $color-secondary;
        transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out, height 0.2s ease-in-out;
        @include font-small;

        @include media-max("desktop-up"){
            @include font-min;        
        }

        @include media-max("tablet-up"){
            @include font-tel;
        } 
    }

        &_content_hidden {
        visibility: hidden;
        opacity: 0;
        height: 0;
        }
}