.footer{
  background-color: black;
  
  text-align: center;
  height: 209px;
  width: 100%;
  align-items: center;    
  margin: 0 auto;
  gap: 28px;
  
  

    &_logo{
      margin-top: 66px;
    }

    &_txt{
      margin: 30px auto;
      color: #FFFFFF;
    }

}
