@import '../utils//mixins.scss';
.home__gallery {
    @include flex;
    background: #F7F7F7;
    flex-wrap: wrap;
    gap: 50px;   
    padding: 50px;
    border-radius: 25px;
    width: 95%;
    margin: 0 auto;
    margin: 43px auto 50px;
}

.home__gallery > a {
    width: 30%;
}
