@import '../index.scss';

.navbarre {
    @include flex-between;
    width: 100%;
    max-width: 1240px;
    margin: 45px auto 50px;

    @include media-max("tablet-up"){
        margin: 20px auto 19px;
    } 
    
    &__logo{
        width: 210.322px;
        height: 68px;

        @include media-max("tablet-up"){
            height: 80%;
            width: 28%;
        } 
    }
}


.link {
    @include flex-center;
    @include font-medium;
    gap: 57px;
    @include media-max("tablet-up"){
        @include font-tel;
        gap: 26px;
    }
    

    &__accueil, 
    &__propos {
        @include flex-center;
        text-decoration: none;
        color: $color-secondary;     
    }
}

.active {
    text-decoration: underline;
}

li {
    list-style: none;
}