* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
}

body {
    max-width: 1240px;
    
    margin: 0 auto;
}

li {
    list-style: none;
}