.about_main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin: 38px 0;
    
    }
    .about_main_collapse {
        display: flex;
        
    
    }